<script>
    var dataElementIdArray = new Array();
    
	jQuery(document).ready( function(){
	countryTags = $orgUnitList;
	currentDiv = 'paymentAdjustmentForm';
	
    }); 
    function adjustPer()
	{
		var amountAvail = $("#amountAvail").val();	
		var totalAvail = $("#total").val();	
		
		var adjustmentPer = ( parseFloat( amountAvail ) / parseFloat (totalAvail) ) * 100 ;
		$("#adjustment").val( adjustmentPer.toFixed(2) );
		
		calculateAdjustedTariffAmount();
	}
	
    function saveDataValue()
    {
    	var period = document.getElementById("selectedPeriodId").value;
		var valueId = "amountAvail";
	
	   var fieldId = "#"+valueId;
	   var defaultValue = document.getElementById(valueId).defaultValue;
	   var value = document.getElementById(valueId).value;
	
	   if(defaultValue != value)
	   {
	       var dataValue = {
                'dataElementId' : $amountDEId,        
                'organisationUnitId' : $("#selectedOrgunitID").val(),
                'periodIso' : period,
                'value' : value
            };
	    
	       jQuery.ajax( {
	            url: 'saveDataValue.action',
	            data: dataValue,
	            dataType: 'json',
	            success: handleSuccess,
	            error: handleError
	        } );
	   }
	
	   function handleSuccess( json )
	   {
	       var code = json.c;
	       if ( code == '0' || code == 0) // Value successfully saved on server
	       {
	    	  markValue( fieldId, COLOR_GREEN );
	    	  adjustPer();
	       }
	       else if ( code == 2 )
	       {
	           markValue( fieldId, COLOR_RED );
	           window.alert( i18n_saving_value_failed_dataset_is_locked );
	       }
	       else // Server error during save
	       {
	           markValue( fieldId, COLOR_RED );
	           window.alert( i18n_saving_value_failed_status_code + '\n\n' + code );
	       }
	   }

	   function handleError( jqXHR, textStatus, errorThrown )
	   {       
	       markValue( fieldId, COLOR_RED );
	   }

	   function markValue( fieldId, color )
	   {
	       document.getElementById(valueId).style.backgroundColor = color;	   
	   }
    }
</script>
<style >
	#tariffSetting {
        width: 280px;
        height: 50px;
        margin: 10px 10px 10px 10px;
        float:right;
        padding: 10px 10px 10px 10px ;
        font: 1.6em bold;
        background: #ccc;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.5),
        inset 8px 10px 10px rgba(255,255,255,0.75);   
        -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.5),
        inset 8px 10px 10px rgba(255,255,255,0.75);
        -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.5),
        inset 8px 10px 10px rgba(255,255,255,0.75);
   }
</style>

<h3>$i18n.getString( "payment_adjustment_screen" )</h3>

<form id="paymentAdjustmentForm" name="paymentAdjustmentForm" method="post" >	
<div>
	<input type="hidden" id='selectedOrgunitID' name = 'selectedOrgunitID' value="$!organisationUnit.uid" />
	<input type="hidden" id='selectedOrgunitName' name = 'selectedOrgunitName' value="$!organisationUnit.name" />
	
</div>

<div class="inputCriteria" style="width:90%;height:auto;">
<table style="width:100%;">
	<tr>
		<td>
			<table style="width:100%;">
					<tr>
						<td><label for="orgUnitName">$i18n.getString( "organisation_unit" )</label></td>
						<td><input type="text" id="orgUnitName" name = "orgUnitName" readonly="readonly" value="$!organisationUnit.name" style="width:352px"></td>
					</tr>
					
					<tr>
						<td><label>$i18n.getString( "dataset" )</label></td>
						<td>
							<select id="dataSetId" name = "dataSetId" style="width:354px" onchange="loadDataEntryForm()" #if( $dataSets.size() == 0 ) disabled="disabled" #end >
								<option value="-1">$i18n.getString( "select_dataSet" )</option>
								#foreach( $dataSet in $dataSets )
									<option value="$dataSet.id">$dataSet.name</option>
								#end
							</select>
						</td>		
				    </tr>
					<tr>
						<td><label for="selectedPeriodId">$i18n.getString( "period" )</label></td>
						<td><select id="selectedPeriodId" name="selectedPeriodId" style="width:200px" disabled="disabled" onchange="loadDataEntryForm()">
								 <option value="-1">[$i18n.getString( "select" )]</option> 
								#foreach( $period in $periods )
									<option value="$period.iso">$encoder.htmlEncode( $period.name )</option>
				    			#end
							</select>
							<input type="button" id="prevButton" disabled="disabled" style="width:75px" value="$i18n.getString( 'prev_year' )" title="$i18n.getString('earlier_periods')" onclick="getAvailablePeriodsTemp( 'selectedPeriodId', 'selectedPeriodId', '-1' )" >
							<input type="button" id="nextButton" disabled="disabled" style="width:75px" value="$i18n.getString( 'next_year' )" title="$i18n.getString('later_periods')" onclick="getAvailablePeriodsTemp( 'selectedPeriodId', 'selectedPeriodId', '1' )" >
							
						</td>
					</tr>
				</table>
		</td>
		<td>
			<table style="width:100%;">
				<tr>
					<td>$i18n.getString( "amount_avaliable" )</td>
					<td><input type="text" id="amountAvail" name="amountAvail" onblur="saveDataValue()" value="$!amountAvailable"/></td>
				</tr>				
				<tr>
					<td>$i18n.getString( "adjustment_per" )</td>
					<td><input type="text" id="adjustment" name="adjustment"/></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

</div>


#parse( "/dhis-web-commons/loader/loader.vm" )
<div id='paymentDiv'></div> <!-- Payment Form -->  	

</form>

<script type="text/javascript">

var i18n_select_dataset = '$encoder.jsEscape( $i18n.getString( "select_dataSet" ) , "'")';


jQuery( document ).ready( function()
{
});
</script>