
<!-- DATAELEMENTS -->
#set( $tabIndex = 1 )
#if( $sections.size() > 0 )
#set( $mark = false )	
	<!-- Equipment Status -->
	<table class="formSection" width="100%">
		<tr bgcolor="#285C91">
			<td><font color="#FFFFFF"><strong>Equipment Status</strong></font></td>
			<td><font color="#FFFFFF"><strong>Value</strong></font></td>
		</tr><br />
		<tr #alternate($mark)>
			<td width="75%">$i18n.getString( "working_status" )</td>
			<td width="25%">
                <select  id="workingStatus" name="workingStatus" style="width:175px">
                    <option value="-1">[$i18n.getString( "please_select" )]</option>
                    #foreach ( $workingStatusOption in $workingStatusOptions.options )
                        <option value="$workingStatusOption" #if( $!latestEquipmentStatus.getStatus() == $workingStatusOption ) selected="selected" #end >$workingStatusOption</option>
                    #end
                </select>
            </td>		
		</tr>
		#set( $mark = true )
		<tr #alternate($mark)>
			<td width="75%">$i18n.getString( "utilization" )</td>
           <td width="25%">
                <select  id="utilization" name="utilization" style="width:175px" >
                    <option value="-1">[$i18n.getString( "please_select" )]</option>
                    #foreach ( $utilizationOption in $utilizationOptions.options )
                        <option value="$utilizationOption" #if( $!latestEquipmentStatus.getUtilization() == $utilizationOption ) selected="selected" #end >$utilizationOption</option>
                    #end
                </select>
            </td>		
		</tr>		
		#set( $mark = false )
        <tr #alternate($mark)>
            <td width="75%">$i18n.getString( "reason_not_working" )</td>
            <td width="25%">
                <select  id="reasonNotWorking" name="reasonNotWorking" style="width:175px">
                    <option value="-1">[$i18n.getString( "please_select" )]</option>
                    #foreach ( $reasonNotWorkingOption in $reasonNotWorkingOptions.options )
                        <option value="$reasonNotWorkingOption" #if( $!latestEquipmentStatus.getReasonNotWorking() == $reasonNotWorkingOption ) selected="selected" #end >$reasonNotWorkingOption</option>
                    #end
                </select>
            </td>
        </tr>		
	</table>	
	
		
	#foreach( $section in $sections )
		<table class="formSection" width="100%">
			<tr><td>&nbsp;</td><td>&nbsp;</td></tr>	
			<tr bgcolor="#285C91">
				<td><font color="#FFFFFF"><strong>$encoder.htmlEncode( $section.name )</strong></font></td>
				<td><font color="#FFFFFF"><strong>Value</strong></font></td>
			</tr><br />
		
		#if ( $section.dataElements.size() > 0 )
			#set( $mark = false )
			#foreach($dataElement in $section.dataElements )
			#set( $equipmentDataValue = "" )
			#set( $equipmentDataValue = $!equipmentDataValueMap.get( $dataElement.id ) )
				<tr #alternate($mark)>
					<!--#set( $dataEntryId = "${dataElement.id}" )-->
					<td width="75%"><label>$dataElement.getFormNameFallback()</label></td>
					<td>
						#if( $dataElement.type == "bool" )
							<select name="dataelement$dataElement.id"  id="dataelement$dataElement.id"  tabindex="$tabIndex" style="width:175px"> 
								<option value="">[$i18n.getString( "please_select" )]</option>            
								<option value="Yes" #if( $equipmentDataValue  == "Yes" ) selected="selected" #end >$i18n.getString( "yes" )</option>
								<option value="No" #if( $equipmentDataValue == "No") selected="selected" #end >$i18n.getString( "no" )</option>
							</select>                
						#elseif( $dataElement.type == "date" )
							<input type="text" id="dataelement$dataElement.id" name="dataelement$dataElement.id" value="$!equipmentDataValue" tabindex="$tabIndex" style="width:175px"> 
								<script type="text/javascript">
						  	 	datePickerValid( 'dataelement${dataElement.id}' );
								</script>                    
						
						#elseif( $!dataElement.optionSet )
							<select name="dataelement$dataElement.id"  id="dataelement$dataElement.id"  tabindex="$tabIndex" style="width:175px">  
								<option value="">[$i18n.getString( "please_select" )]</option> 
								#foreach ($option in $dataElement.optionSet.options )
									<option value="$option" #if($equipmentDataValue == $option ) selected="selected" #end>$option</option>
								#end	
							</select>							
						
						#else 
							<!--<input type="text" id="dataelement$dataElement.id" name="dataelement$dataElement.id" value="$!equipmentDataValue" tabindex="$tabIndex" width="25%">--> 
							<input type="text" id="dataelement$dataElement.id" name="dataelement$dataElement.id" value="$!equipmentDataValue" tabindex="$tabIndex" style="width:175px" #if($dataElement.type =='int') class="{validate:{number:true}}" #end/>
						#end
					</td>		
				</tr>
			#set( $tabIndex = $tabIndex + 1 )
			#set( $mark = !$mark)	
			#end
		#end
	</table>		
	<br>	
#end
	
#else	

<table class="formSection">
	<tr><td>&nbsp;</td><td>&nbsp;</td></tr>	

	<tr bgcolor="#285C91">
		<td><font color="#FFFFFF"><strong>$encoder.htmlEncode( $dataSet.getShortName() )</strong></font></td>
		<td><font color="#FFFFFF"><strong>Value</strong></font></td>
	</tr>	
<br />
#set( $tabIndex = 1 )
#if ( $dataElements.size() > 0)
	#set( $mark = false )
	
	<!-- Equipment Status -->
	
		<tr bgcolor="#285C91">
			<td><font color="#FFFFFF"><strong>Equipment Status</strong></font></td>
			<td><font color="#FFFFFF"><strong>Value</strong></font></td>
		</tr><br />
		<tr #alternate($mark)>
			<td width="75%">$i18n.getString( "working_status" )</td>
			<td width="25%">
                <select  id="workingStatus" name="workingStatus" style="width:175px">
                    <option value="-1">[$i18n.getString( "please_select" )]</option>
                    #foreach ( $workingStatusOption in $workingStatusOptions.options )
                        <option value="$workingStatusOption" >$workingStatusOption</option>
                    #end
                </select>
            </td>		
		</tr>
		#set( $mark = true )
		<tr #alternate($mark)>
			<td width="75%">$i18n.getString( "utilization" )</td>
           <td width="25%">
                <select  id="utilization" name="utilization" style="width:175px" >
                    <option value="-1">[$i18n.getString( "please_select" )]</option>
                    #foreach ( $utilizationOption in $utilizationOptions.options )
                        <option value="$utilizationOption" >$utilizationOption</option>
                    #end
                </select>
            </td>		
		</tr>		
		#set( $mark = false )
        <tr #alternate($mark)>
            <td width="75%">$i18n.getString( "reason_not_working" )</td>
            <td width="25%">
                <select  id="reasonNotWorking" name="reasonNotWorking" style="width:175px">
                    <option value="-1">[$i18n.getString( "please_select" )]</option>
                    #foreach ( $reasonNotWorkingOption in $reasonNotWorkingOptions.options )
                        <option value="$reasonNotWorkingOption" >$reasonNotWorkingOption</option>
                    #end
                </select>
            </td>
        </tr>		
	
	#foreach($dataElement in $dataElements )
	#set( $equipmentDataValue = "" )
	#set( $equipmentDataValue = $!equipmentDataValueMap.get( $dataElement.id ) )
		<tr #alternate($mark)>
			<!--#set( $dataEntryId = "${dataElement.id}" )-->
			<td><label>$dataElement.getFormNameFallback()</label></td>
			<td>
				#if( $dataElement.type == "bool" )
					<select name="dataelement$dataElement.id"  id="dataelement$dataElement.id"  tabindex="$tabIndex" style="width:175px"> 
						<option value="">[$i18n.getString( "please_select" )]</option>            
						<option value="Yes" #if( $equipmentDataValue  == "Yes" ) selected="selected" #end >$i18n.getString( "yes" )</option>
						<option value="No" #if( $equipmentDataValue == "No") selected="selected" #end >$i18n.getString( "no" )</option>
					</select>                
				#elseif( $dataElement.type == "date" )
						<input type="text" id="dataelement$dataElement.id" name="dataelement$dataElement.id" value="$!equipmentDataValue" tabindex="$tabIndex" style="width:150px" />
						<script type="text/javascript">
						   datePickerValid( 'dataelement${dataElement.id}' );
						</script>                    
				#elseif( $!dataElement.optionSet )
					<select name="dataelement$dataElement.id"  id="dataelement$dataElement.id"  tabindex="$tabIndex" style="width:175px">  
						<option value="">[$i18n.getString( "please_select" )]</option> 
						#foreach ($option in $dataElement.optionSet.options )
							<option value="$option" #if($equipmentDataValue == $option ) selected="selected" #end>$option</option>
						#end	
					</select>							
				
				#else 
					<!--<input type="text" id="dataelement$dataElement.id" name="dataelement$dataElement.id" value="$!equipmentDataValue" tabindex="$tabIndex" style="width:150px" />-->
					<input type="text" id="dataelement$dataElement.id" name="dataelement$dataElement.id" value="$!equipmentDataValue" tabindex="$tabIndex" style="width:175px" #if($dataElement.type =='int') class="{validate:{number:true}}" #end/>
				#end
			</td>		
		</tr>
	#set( $tabIndex = $tabIndex + 1 )
	#set( $mark = !$mark)	
	#end
#end
</table>
	
#end

