<div class="panel panel-default" ng-controller="EnrollmentController">
    <div class="panel-heading">
        {{enrollmentWidget.title| translate}}
        <span class="pull-right">
            <a href ng-click="removeWidget(enrollmentWidget)" title="{{'remove'| translate}}"><span class='black'><i class="fa fa-times-circle"></i></span></a>            
        </span>
    </div>
    <table class="table">
        <tr>
            <td>
                {{'program'| translate}}
            </td>
            <td>
                <select ng-model="selectedProgram"
                        class="form-control"
                        ng-options="program as program.name for program in programs | orderBy: 'name'" 
                        ng-change="loadEvents()">
                    <option value="">{{'please_select'| translate}}</option>
                </select>
            </td>
            <td>
                <button type="button" 
                        class="btn btn-default"
                        ng-if="selectedProgram && !selectedEnrollment" 
                        ng-click="enroll()">
                    {{'enroll'| translate}}
                </button>  
            </td>                
            <td>
                <button type="button" 
                        class="btn btn-default"
                        ng-if="selectedProgram && selectedEnrollment" 
                        ng-click="scheduling()">
                    {{'scheduling'| translate}}
                </button>                                
            </td>
        </tr>
    </table>
    <div ng-if="selectedProgram">
        <div ng-if="programStages">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            {{'program_stage'| translate}}
                        </th>
                        <th>
                            {{'scheduled_date'| translate}}
                        </th>
                    </tr>                
                </thead>
                <tr ng-repeat="programStage in programStages">
                    <td>
                        {{programStage.name}}
                    </td>
                    <td>
                        {{programStage.minDaysFromStart}}
                    </td>
                </tr>
            </table>
        </div>
    </div>    
</div>