This is an invitation to create a user account on the DHIS 2 system at ${object.rootPath}.
You have been sent two emails, where this is the second one. Please read the
first email and follow the instructions. Please use the code below to complete
the new account form.


${object.code}


You must respond to this invitation within 3 months. If you take no action,
the invitation will expire at that time.
