html, body { 
    height:100%;
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: 10pt;
}

h1 {    
    font-size: 1.8em;
}

h2 {
    font-size: 1.4em;    
}

h3 {
    font-size: 1em;    
}

h4 {
    font-size: 0.8em;
    font-weight: bold;
}

/*----------------------------------------------------------------------------*/
/* Form
/*----------------------------------------------------------------------------*/

input[type="button"], input[type="submit"] 
{
    width: 130px;
}

.fixed-text-width {
    width: 260px;
}

input.option
{
    width: 240px;
}

.fixed-select-width 
{
    width: 260px;
}

textarea 
{
    width: 264px;
}

/*----------------------------------------------------------------------------*/
/* Table
/*----------------------------------------------------------------------------*/

table 
{
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 10px;
}

/*----------------------------------------------------------------------------*/
/* Button list
/*----------------------------------------------------------------------------*/

.buttons
{
    text-align:right;
    padding-bottom:10px;
    width:100%;
}

div.actions
{
    float: right;
    width: 140px;
    text-align: right;
}

/*----------------------------------------------------------------------------*/
/* Data entry form                                                        */
/*----------------------------------------------------------------------------*/

.entryScreen
{
    margin-bottom: 20px;
    width: 100%;
    font-size: 13px; 
    line-height: 18px;
}

/* --------------------------------------------------------------
// Dashboard
// -------------------------------------------------------------- */


/* --------------------------------------------------------------
// program-stage-instances
// -------------------------------------------------------------- */

.data-entry{
    overflow: scroll;
}

.arrow-container {
    font-size: 25px;
    width: 10px;
}

.stage-container
{
    width:100%;
    height:100px;
}

.stage-flow
{
    height:100px;
    overflow: scroll;
}

.table-flow
{
    height:100px;
    overflow-x:hidden;
    overflow-y:hidden;
}

div.orgunit-object
{
    margin-left: 5px;
    width: 120px;
}

.orgunit-container
{
    text-align: center;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.stage-container
{
    display: inline-block;
    width: 135px;
    height: 60px;
    cursor: pointer;
    opacity: 1.0;
    margin: 5px;
    white-space: normal;
    padding-top: 5px;
    text-align: center;
}

.stage-container:hover
{
    border: 2px solid;
}

.new-event {    
    cursor: pointer;
}

.stage-completed {
    background-color: #b9ffb9;
}

.stage-on-time {
    background-color: #fffe8c;
}

.stage-overdue {
    background-color: #ff8a8a;
}

.current-stage{
    border: 2px solid;
}

.current-stage-color{
    color: #b94a48;
}

.stages-color {
    display: block;
}

input.stage-object[type="button"]
{
    width: 135px;
    height: 60px;
    cursor: pointer;
    opacity: 1.0;
    border: 2px solid;
    margin: 5px;
    white-space: normal;
}

input.stage-object[type="button"]:hover
{
    border: 5px solid;
}

input.stage-object-selected[type="button"]
{
    border: 5px solid;
}

input.stage-scheduled[type="button"]
{
    border: 5px solid;
}

input.entity-instance-object[type="button"]
{
    width: 130px;
    height: 60px;
    border-color: #bbbbbb;
    background-color: #ddd;
    cursor: pointer;
    border: 1px solid #aaa;
    margin: 5px;
    border-radius: 2px;
}

input.patient-object[type="button"]
{
    width: 130px;
    height: 60px;
    border-color: #bbbbbb;
    background-color: #ddd;
    cursor: pointer;
    border: 1px solid #aaa;
    margin: 5px;
    border-radius: 2px;
}

div.dashboard-history
{
    z-index:100; 
    width:300px; 
    height:200px; 
    position:absolute; 
    left:650px; 
    top:115px; 
    background-color:#ffffff;
    border:1px solid #d0d0d0;
    padding-top:1px;
    padding-right:1px;
    padding-left:1px;
    padding-bottom:1px;
}

/*----------------------------------------------------------------------------*/
/* Program tracking
/*----------------------------------------------------------------------------*/

div.link-area-tracking
{
    display:inline-block;
    border:1px solid #d0d0d0;
    padding-top:1px;
    padding-right:1px;
    padding-left:1px;
    padding-bottom:0px;
    height:200px;
    width:60%;
    overflow:hidden;
}

.gridTable th, .gridTable td {
    line-height: 200%;
}

/* Treepanel contextmenu */
#treepanel-contextmenu {
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #aaa;
}


/* --------------------------------------------------------------
// Capture Coordinates
// -------------------------------------------------------------- */

.coordinates1{
    width: 110px;
    white-space: normal;
}

.coordinates2{
    width: 150px;
}


.commentHeader
{
    color: #606060;
    font-size: 17px;
    padding: 5px 0;
}


/* --------------------------------------------------------------
// App - specific
// -------------------------------------------------------------- */

.container-heading {
    color: white;
    padding: 12px;
}

div.paging a.active
{
    text-decoration: none; 
    color: #000;
    cursor: default;
}

.input-error {
    background-color: #ff6600;
}

.input-success {
    background-color: #b9ffb9;
}

.red {
    color: red;
}

.right {
    float: right !important;
}

.black {
    color: black;
}

.bold {
    font-weight: bold;
}

.white {
    color: white;
}

.anchor-color {
    color: #276696;
}

.inline-div {
    display: inline-block; 
    margin-right: 5px;
    float: left;
}

.bordered-div
{
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.nav, .pagination, .carousel, .panel-title a { 
    cursor: pointer; 
    text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=date]::-webkit-inner-spin-button, input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.big-button {
    padding-left: 40px;
    padding-right: 40px;
}

.max-column-width {
    max-width:200px !important; 
    word-wrap:break-word; 
}

.table-borderless {
    width: 100%;
}

.table-borderless>thead>tr>th, 
.table-borderless>tbody>tr>th, 
.table-borderless>tfoot>tr>th, 
.table-borderless>thead>tr>td, 
.table-borderless>tbody>tr>td, 
.table-borderless>tfoot>tr>td {
    border-top: none; 
    //background-color: #ebf0f6;
    padding-right: 8px;
}

.dhis2-table>thead>tr>th, 
.dhis2-table>tbody>tr>th, 
.dhis2-table>tfoot>tr>th, 
.dhis2-table>thead>tr>td, 
.dhis2-table>tbody>tr>td, 
.dhis2-table>tfoot>tr>td {
    border-top: none;
    background-color: #ebf0f6;
}
.dhis2-table-striped-border {
    width: 100%;
    border-collapse: collapse;
    cursor: pointer;
}

.dhis2-table-striped-border tr th {
    border: 1px solid #cad5e5;
}

.dhis2-table-striped-border tr td {
    border: 1px solid #cad5e5;
}

.dhis2-table-striped-border > tbody > tr:nth-child(odd)> td, .dhis2-table-striped > tbody > tr:nth-child(odd)> th {
    background-color: #ebf0f6
}

.dhis2-table-striped>thead>tr, 
.dhis2-table-striped>tbody>tr, 
.dhis2-table-striped>tfoot>tr, 
.dhis2-table-striped>thead>tr, 
.dhis2-table-striped>tbody>tr, 
.dhis2-table-striped>tfoot>tr {
    border-bottom: 1px solid #cad5e5;    
}

.dhis2-table-striped > tbody > tr:nth-child(odd)> td, .dhis2-table-striped > tbody > tr:nth-child(odd)> th {
    background-color: #ebf0f6
}

.dhis2-list-table-striped {
    width: 100%;
    border: 1px solid #c2c2c2;
    padding: 5px 10px;
}

.dhis2-list-table-striped>thead>tr, 
.dhis2-list-table-striped>tbody>tr, 
.dhis2-list-table-striped>tfoot>tr, 
.dhis2-list-table-striped>thead>tr, 
.dhis2-list-table-striped>tbody>tr, 
.dhis2-list-table-striped>tfoot>tr {
    border: none;
}

.dhis2-list-table-striped > tbody > tr:nth-child(odd)> td, .dhis2-table-striped > tbody > tr:nth-child(odd)> th {
    background-color: #ebf0f6
}

.dhis2-table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #dfe9f4;
}

#contextMenu {
    position: absolute;
    display:none;
}

.filter-with-content {
    float: right !important;
    color: red;
}

.filter-without-content {
    float: right !important;
    color: black;
}

.bold {
    font-weight: bold;
}

.contextMenuItems .divider {
    height: 1px;
    margin: 5px 0;
    overflow: hidden;
    background-color: #e5e5e5
}

/*----------------------------------------------------------------------------*/
/* Tracked entity
/*----------------------------------------------------------------------------*/

.container-1 {
    height: 100%; 
    width: 100%;
    overflow:auto; 
}

.container-1-1 {
    width: 100%;
    float: left;
    margin-top: 50px;   
    height: 100%; 
    min-height: 100%; 
}

.container-1-2 {
    width: 50%;
    float: left;
    position: relative;
}

.container-2-3 {
    width: 75%;
    float: left;
    position: relative;
}

.container-1-4 {
    width: 25%;
    float: left;
    position: relative;
}

.separator {
    margin-bottom: 10px;
}

.dashboard-element-container {
    max-height: 250px !important;
    height: 250px !important;
    overflow-x:auto;
    overflow-y:auto;
}

.empty-dashboard-container{
    min-height: 100px;
}

.horizonal-spacing{
    margin-left: 20px;    
}

.vertial-spacing {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*----------------------------------------------------------------------------*/
/* Bootstrap modal style
/*----------------------------------------------------------------------------*/
.modal-open {
    overflow: hidden
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    overflow: auto;
    overflow-y: scroll
}
.modal.fade .modal-dialog {
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    transform: translate(0,-25%);
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0)
}
.modal-dialog {
    position: relative;
    z-index: 1050;
    width: auto;
    padding: 10px;
    margin-right: auto;
    margin-left: auto
}
.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    background-clip: padding-box
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #000
}
.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0)
}
.modal-backdrop.in {
    opacity: .5;
    filter: alpha(opacity=50)
}
.modal-header {
    min-height: 16.428571429px;
    padding: 0 15px;
    border-bottom: 1px solid #e5e5e5
}
.modal-header .close {
    margin-top: -2px
}
.modal-title {
    margin: 0;
    line-height: 1.428571429
}
.modal-body {
    position: relative;
}
.modal-footer {
    padding: 19px 20px 20px;    
    text-align: right;
    border-top: 1px solid #e5e5e5
}
.modal-footer:before, .modal-footer:after {
    display: table;
    content: " "
}
.modal-footer:after {
    clear: both
}
.modal-footer:before, .modal-footer:after {
    display: table;
    content: " "
}
.modal-footer:after {
    clear: both
}
.modal-footer .btn+ .btn {
    margin-bottom: 0;
    margin-left: 5px
}
.modal-footer .btn-group .btn+ .btn {
    margin-left: -1px
}
.modal-footer .btn-block+ .btn-block {
    margin-left: 0
}
@media screen and (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        padding-top: 30px;
        padding-bottom: 30px
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
        box-shadow: 0 5px 15px rgba(0,0,0,0.5)
    }
}

/*.form-control {
    height: 30px;
    font-size: 12px;
    color: #555;
}*/

input[type=number] {
    border: 1px solid #aaa;
    padding: 4px 1px;
}

/*----------------------------------------------------------------------------*/
/* Search filters
/*----------------------------------------------------------------------------*/

.panel-heading {
    padding: 5px 10px;	
}

.panel {
    margin-top: 2px;	
}

.selected-data-item-list {
    width: 100%;
    display: inline-block;
    color: #000;
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow-y: auto;   
    white-space: nowrap;    
    word-wrap: break-word;
    font-size: 14px;
    color: #555;
}

.selected-data-item {
    margin: 5px;
    display: block;
    white-space: nowrap;    
    word-wrap: break-word;
}

.dataelement-filter{
    width: 100%;
    display: block;
}

.filter-name {
    color: red;
}

.filter-operand {
    width: 20%;
    float: left;
}

.filter-value {
    width: 70%;
    float: left;
}

.filter-add {
    width: 5%;
    float: left;
    padding-top: 5px;
    padding-left: 5px;
}
.filter-remove {
    width: 5%;
    float: left;
    padding-top: 5px;
    padding-left: 5px;
}

.input-field {
    border: 1px solid #aaa;
    padding: 4px 1px;
    display: block;
    width: 100%;	    
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
        
}