#set($oucSize = $currentUser.getOrganisationUnit().getSortedChildren().size())
#if($callback)$!{callback}
(
#end
{
"systemSettings":{"infrastructuralDataElementGroup":"$!{infrastructuralDataElementGroup.uid}","infrastructuralPeriodType": "$!{infrastructuralPeriodType.name}"}
}
#if($callback)
)
#end