#set( $size = $periods.size() )
{ "periods": [
#foreach( $period in $periods )
  {
    "id": $!{period.id},
    "startDate": "$!format.formatDate( ${period.startDate} )",
    "endDate": "$!format.formatDate( ${period.endDate} )",
    "name": "$!{period.name}",
	"isoName": "$!format.formatPeriod( ${period} )",
	"isoDate": "$!{period.isoDate}"
  }#if( $velocityCount < $size ),#end    
#end
] }
