
<h3>$i18n.getString( "dhis-web-caseentry" )</h3>

<ul class="introList">
	#if( $auth.hasAccess( "dhis-web-caseentry", "trackedEntityInstance" ) )
		#introListImgItem( "trackedEntityInstance.action" "find_and_add_tracked_entity_instance" "patient" )
	#end
	
	#if( $auth.hasAccess( "dhis-web-caseentry", "activityPlanSelect" ) )
		#introListImgItem( "activityPlanSelect.action" "activity_planning" "visitplan" )
	#end
	
	#if( $auth.hasAccess( "dhis-web-caseentry", "smsReminderSelect" ) )
		#introListImgItem( "smsReminderSelect.action" "program_tracking" "summaryreport" )
	#end
	
	#if( $auth.hasAccess( "dhis-web-caseentry", "singleEventSelect" ) )
		#introListImgItem( "singleEventSelect.action" "single_event_with_registration" "attribute" )
	#end
	
	#if( $auth.hasAccess( "dhis-web-caseentry", "anonymousRegistration" ) )
		#introListImgItem( "anonymousRegistration.action" "anonymous_events" "attribute" )
	#end
	
	#if( $auth.hasAccess( "dhis-web-caseentry", "reportSelect" ) )
		#introListImgItem( "reportSelect.action" "program_summary" "summaryreport" )
	#end
	
	#if( $auth.hasAccess( "dhis-web-caseentry", "statisticalProgramReportSelect" ) )
		#introListImgItem( "statisticalProgramReportSelect.action" "statistical_program" "validationanalysis" )
	#end
	
	#if( $auth.hasAccess( "dhis-web-caseentry", "programStageCompletenessSelect" ) )
		#introListImgItem( "programStageCompletenessSelect.action" "program_stage_completeness" "validationanalysis" )
	#end
	
	#if( $auth.hasAccess( "dhis-web-caseentry", "caseAggregationForm" ) )
		#introListImgItem( "caseAggregationForm.action" "manual_tracked_entity_instance_aggregation" "caseaggregation" )
	#end
</ul>