
#set( $size = 0 )

#if( $!attributes )
	#set( $size = $!attributes.size() ) 
#end

#if( $!program.attributes )
	#set( $size = $size + $program.attributes.size() ) 
#end

#if( $!size > 0 )
	#set( $size = $size - 1 )
#end

{ "attributes": [

#set( $idx = 0 )
#foreach( $attribute in $attributes )
 #if($attribute.unique=='true')
  {
	"id":  "${attribute.uid}",
	"name": "$!encoder.jsonEncode( ${attribute.displayName} )",
	"valueType": "$!attribute.valueType",
	"displayed": "true"
  }#if( $idx < $size ),#end
  #set( $idx = $idx + 1 ) 
  #end
#end

#foreach( $attribute in $attributes )
 #if($attribute.unique!='true')
  {
	"id":  "${attribute.uid}",
	"name": "$!encoder.jsonEncode( ${attribute.displayName} )",
	"valueType": "$!attribute.valueType",
	"displayed": "true"
  }#if( $idx < $size ),#end
  #set( $idx = $idx + 1 ) 
  #end
#end

#foreach( $programAttribute in $program.attributes )
 #if($programAttribute.attribute.unique=='true')
  {
	"id":  "${programAttribute.attribute.uid}",
	"name": "$!encoder.jsonEncode( ${programAttribute.attribute.displayName} )",
	"valueType": "$!programAttribute.attribute.valueType",
	"displayed": "$programAttribute.displayInList"
  }#if( $idx < $size ),#end
  #set( $idx = $idx + 1 ) 
 #end
#end


#foreach( $programAttribute in $program.attributes )
 #if($programAttribute.attribute.unique!='true')
  {
	"id":  "${programAttribute.attribute.uid}",
	"name": "$!encoder.jsonEncode( ${programAttribute.attribute.displayName} )",
	"valueType": "$!programAttribute.attribute.valueType",
	"displayed": "$programAttribute.displayInList"
  }#if( $idx < $size ),#end 
  #set( $idx = $idx + 1 ) 
 #end
#end
]
}

