<h3>$i18n.getString( "dhis-web-maintenance-datadictionary" )</h3>

<ul class="introList">
	#introListImgItem( "dataElement.action" "data_element" "dataelement" )
	#introListImgItem( "dataElementGroup.action" "data_element_group" "dataelement" )
    #introListImgItem( "dataElementGroupEditor.action" "data_element_group_editor" "dataelement" )
    #introListImgItem( "dataElementGroupSet.action" "data_element_group_set" "groupset" )
    #introListImgItem( "categoryOption.action" "category_option" "category" )
    #introListImgItem( "category.action" "category" "category" )
    #introListImgItem( "categoryCombo.action" "category_combo" "category" )
    #introListImgItem( "categoryOptionGroup.action" "category_option_group" "category" )
    #introListImgItem( "categoryOptionGroupSet.action" "category_option_group_set" "category" )
    #introListImgItem( "dataDictionary.action" "data_dictionary" "datadictionary" )
    #introListImgItem( "indicator.action" "indicator" "indicator" )
    #introListImgItem( "indicatorType.action" "indicator_type" "indicator" )
    #introListImgItem( "indicatorGroup.action" "indicator_group" "indicator" )
    #introListImgItem( "indicatorGroupEditor.action" "indicator_group_editor" "indicator" )
    #introListImgItem( "indicatorGroupSet.action" "indicator_group_set" "groupset" )
</ul>